script#feedback-template(type='text/template')
  h1 Hello!
  // display the moving average over the last five days
  // good days are those that improved on the moving average
  // bad ones are those that didn't