extends layout

block content
  section#todoapp.container
    header#header.pull-center
        h1= i18n.title
        p= i18n.description
    nav
      ul#nav.nav.nav-tabs
        li.active
          a(href="#/") Active
        li
          a(href="#/all") All
        li
          a(href="#/completed") Completed
        li.pull-right
          a(href="#/feedback") Feedback
    section#main
      include _todolist
      ul#items
    section#feedback.hidden
    footer#footer.row
    #info.pull-center
      p= i18n.help.edit
      p= i18n.credit
    //- templates
    include _item
    include _stats
    include _feedback

block scripts
  script(src='js/main.js')