.hidden {
	display: none;
}
.pull-center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.text-center {
	text-align: center;
}
ul {
	list-style-type: none;
}
label {
	line-height: 27px;
	padding-bottom: 7px;
	vertical-align:middle;
}
label.view {
	margin-left:5px;
	padding-left:5px;
}
.editing .view {
	display: none;
}
.editing .edit {
	display: inline;
}
input.edit {
	display: none;
}
.view {
	display: inline;
}