.hidden {
	display: none;
}
.pull-center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
ul {
	list-style-type: none;
}
label {
	height: 28px;
	padding-bottom: 5px;
}
.editing .view {
	display: none;
}
.editing .edit {
	display: inline;
}
input.edit {
	display: none;
}
.view {
	display: inline;
}